<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
<title>About</title>

{% block page_content %}

<!-- Home -->

<div class="home d-flex flex-column align-items-start justify-content-end">
    <!-- <div class="background_image" style="background-image:url(images/about.jpg)"></div> -->
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src={% static "images/about.jpg" %} data-speed="0.8"></div>
    <div class="home_overlay"><img src={% static "images/home_overlay.png" %} alt=""></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">About us</div><br>
                        <div class="home_text">One of the best plastic surgery clinic in Bahawalpur, operated by Dr Imran Adeel, the second most experienced and qualified plastic surgeon in the city.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Intro -->

<div class="intro">
    <div class="container">
        <div class="row">

            <!-- Intro Content -->
            <div class="col-lg-8">
                <div class="intro_content">
                    <div class="section_title_container">
                        <div class="section_subtitle">This is Dr Imran Adeel</div>
                        <div class="section_title"><h2>Welcome to my Clinic</h2></div>
                    </div>
                    <div class="intro_text">
                        <p>I am one of the leading plastic surgeons in Bahawalpur. Currently working as an Assistant Professor in Multan Medical & Dental College. I have a professional team to help you in all your plastic surgery needs.</p>
                    </div>

                    <!-- Milestones -->
                    <div class="milestones">
                        <div class="row milestones_row">

                            <!-- Milestone -->
                            <div class="col-md-3 milestone_col">
                                <div class="milestone">
                                    <div class="milestone_counter" data-end-value="500" data-sign-before="+">0</div>
                                    <div class="milestone_text">Satisfied Patients</div>
                                </div>
                            </div>

                            <!-- Milestone -->
                            <div class="col-md-3 milestone_col">
                                <div class="milestone">
                                    <div class="milestone_counter" data-end-value="100" data-sign-before="+">0</div>
                                    <div class="milestone_text">Hair Transplants</div>
                                </div>
                            </div>

                            <!-- Milestone -->
                            <div class="col-md-3 milestone_col">
                                <div class="milestone">
                                    <div class="milestone_counter" data-end-value="200" data-sign-before="+">0</div>
                                    <div class="milestone_text">Injectibles</div>
                                </div>
                            </div>

                            <!-- Milestone -->
                            <div class="col-md-3 milestone_col">
                                <div class="milestone">
                                    <div class="milestone_counter" data-end-value="15" data-sign-before="+">0</div>
                                    <div class="milestone_text">Conferences Attended</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Intro Image -->
            <div class="col-lg-3 offset-lg-1">
                <div class="intro_image"><img src={% static "images/drimran.jpg" %} height="370" alt=""></div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->

<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title"><h2>Clients Testimonials</h2></div>
                </div>
            </div>
        </div>
        <div class="row testimonials_row">
            <div class="col">
                <div class="quote d-flex flex-column align-items-center justify-content-center ml-auto mr-auto"><img src={% static "images/quote.png" %} alt=""></div>

                <!-- Testimonials Slider -->
                <div class="test_slider_container">
                    <div class="owl-carousel owl-theme test_slider">

                        {% for testimonial in testimonials %}
                        <div class="owl-item">
                            <div class="test_item text-center">
                                <div class="test_text">
                                    <p>{{testimonial.client_testimonial}}</p>
                                </div>
                                <div class="test_info d-flex flex-row align-items-center justify-content-center">
                                    <div class="test_image"><img src="{{testimonial.client_picture.url}}" alt=""></div>
                                    <div class="test_text">{{testimonial.client_name}}, <span>Patient</span></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <div class="cta_title">Make your appointment today!</div>
                        <div class="cta_text">Call us for free professional support for your guidance</div>
                    </div>
                    <div class="cta_phone ml-lg-auto">+92 333 636 6429</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock  %}
