<!DOCTYPE html>
{% extends "base.html" %} {% load staticfiles %} {% block page_content %}
{% load custom_filters %}
<!-- Home -->

<div class="home d-flex flex-column align-items-start justify-content-end">
  <div
    class="parallax_background parallax-window"
    data-parallax="scroll"
    data-image-src={% static "images/blog.jpg" %}
    data-speed="0.8"
  ></div>
  <div class="home_overlay"><img src={% static "images/home_overlay.png" %} alt="" /></div>
  <div class="home_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_content">
            <div class="home_title">Blog</div>
            <div class="home_text" style="text-align: justify;">Stay in touch with us for detailed articles about different plastic and cosmetic surgery procedures.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Blog -->

<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Blog Post -->
        
        {% for blog in blogs %}
        <div class="blog_post">
          <div class="blog_post_image"><img src="{{blog.blog_picture.url}}" %} alt="" /></div>
          <div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
            <div class="date_day">{{ blog.posted_date|day }}</div>
            <div class="date_month">{{ blog.posted_date|month }}</div>
            <div class="date_year">{{ blog.posted_date|year }}</div>
          </div>
          <div class="blog_post_title"><a href="#">{{blog.blog_title}}</a></div>
          <div class="blog_post_info">
            <ul class="d-flex flex-row align-items-center justify-content-center">
              <li>by <a href="#">{{"Dr. "|add:blog.blog_author.first_name|add:" "|add:blog.blog_author.last_name}}</a></li>
              <li>in <a href="#">{{blog.blog_topic}}</a></li>
            </ul>
          </div>
          <div class="blog_post_text text-center">
            <p>
              {{blog.blog_content}}
            </p>
          </div>
        </div>
        {% endfor %}
     
      </div>
    </div>
  </div>
</div>

{% endblock %}
