<!DOCTYPE html>
{% extends "base.html" %} {% load staticfiles %} {% block page_content %}
	<!-- Home -->

	<div class="home d-flex flex-column align-items-start justify-content-end">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src={% static "images/contact.jpg" %} data-speed="0.8"></div>
		<div class="home_overlay"><img src={% static "images/home_overlay.png" %} alt=""></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Contact</div>
							<div class="home_text" style="text-align: justify;">Feel free to contact us for your queries and info regarding any plastic and cosmetic surgery procedure and to book your appointment.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->

	<div id="contct" class="contact">
		<div class="container">
			<div class="row">

				<!-- Contact Form -->
				<div class="col-lg-6">
					<div class="contact_form_container">
						<div class="contact_form_title">Make an Appointment</div>
						<form method="POST" class="contact_form" id="contact_form">
							
							<div class="d-flex flex-row align-items-start justify-content-between flex-wrap">
								{{appointment_form}}
								{% csrf_token %}
							</div>


							<button type="submit" id="myBtn" class="button button_1 contact_button trans_200">make an appointment</button>

							{% if a_html %}
							  {{a_html|safe}}
							{% endif %}

						</form>
					</div>
				</div>

				<!-- Contact Content -->
				<div class="col-lg-5 offset-lg-1 contact_col">
					<div class="contact_content">
						<div class="contact_content_title">Get in touch with us</div>
						<div class="contact_content_text">
							<p>Book your appointment by contacting us. We also provide free of cost assistance to help you discover your options.</p>
						</div>
						<div class="direct_line d-flex flex-row align-items-center justify-content-start">
							<div class="direct_line_title text-center">Direct Line</div>
							<div class="direct_line_num text-center">+92 333 6366 429</div>
						</div>
						<div class="contact_info">
							<ul>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>Address</div>
									<div>The Cozmetiques - Surgicare Hospital, Welcome Chowk, Bahawalpur</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>Phone</div>
									<div>+92 333 6366 429</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>E-mail</div>
									<div>imran_adeel17@yahoo.com</div>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="row google_map_row">
				<div class="col">

					<!-- Contact Map -->

					<div class="contact_map">

						<div class="mapouter"><div class="gmap_canvas"><iframe width="1000" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=the%20surgicare%20hospital%20bahawalpur&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">crocothemes</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:1000px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1083px;}</style></div>

					</div>

				</div>
			</div>
		</div>
	</div>

	{% endblock %}