<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block page_content %}
      <!-- Home -->

      <div class="home">
        <!-- Home Slider -->
        <div class="home_slider_container">
          <div class="owl-carousel owl-theme home_slider">
            <!-- Slide -->
            <div class="owl-item">
              <div class="background_image" style="background-image: url({% static "images/home_slider.jpg" %});"></div>
              <div class="home_container">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="home_content">
                        <div class="home_subtitle">#1 Plastic Surgery Clinic</div>
                        <div class="home_title">The Cozmetiques</div>
                        <div class="home_text">
                          <p>
                            The Cozmetiques is a leading plastic surgery clinic in Bahawalpur, operated by Dr Imran Adeel, one of the most experienced and qualified plastic surgeon in the city.
                          </p>
                        </div>
                        <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
                          <div class="button button_1 trans_200"><a href="#whyus">read more</a></div>
                          <div class="button button_2 trans_200"><a href="#appoint">make an appointment</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Slide -->
            <div class="owl-item">
              <div class="background_image" style="background-image: url({% static "images/rhinop.jpg" %});"></div>
              <div class="home_container">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="home_content">
                        <div class="home_subtitle">Nose Bump Solution</div>
                        <div class="home_title">Rhinoplasty</div>
                        <div class="home_text">
                          <p>
                            Rhinoplasty, commonly known as a nose job, is a plastic surgery procedure for correcting and
                            reconstructing the nose. There are two types of plastic surgery used – reconstructive
                            surgery that restores the form and functions of the nose and cosmetic surgery that improves
                            the appearance of the nose.
                          </p>
                        </div>
                        <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
                          <div class="button button_1 trans_200"><a href="{% url "doctor_app:services" %}">read more</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Slide -->
            <div class="owl-item">
              <div class="background_image" style="background-image: url({% static "images/hairtrn.jpg" %});"></div>
              <div class="home_container">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="home_content">
                        <div class="home_subtitle">Stop Balding</div>
                        <div class="home_title">Regrow Hair</div>
                        <div class="home_text">
                          <p>
                            Hair transplantation is a surgical technique that removes hair follicles from one part of
                            the body, called the 'donor site', to a bald or balding part of the body known as the
                            'recipient site'. The technique is primarily used to treat male pattern baldness.
                          </p>
                        </div>
                        <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
                          <div class="button button_1 trans_200"><a href="{% url "doctor_app:services" %}">read more</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Home Slider Dots -->

          <div class="home_slider_dots">
            <ul
              id="home_slider_custom_dots"
              class="home_slider_custom_dots d-flex flex-row align-items-center justify-content-start"
            >
              <li class="home_slider_custom_dot trans_200 active"></li>
              <li class="home_slider_custom_dot trans_200"></li>
              <li class="home_slider_custom_dot trans_200"></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Intro -->

      <div id="appoint" class="intro">
        <div class="container">
          <div class="row">
            <!-- Intro Content -->
            <div class="col-lg-6 intro_col">
              <div class="intro_content">
                <div class="section_title_container">
                  <div class="section_subtitle">Welcome to</div>
                  <div class="section_title"><h2>The Cozmetiques</h2></div>
                </div>
                <div style="text-align: justify">
                  <p>
                    We are one of the leading aesthetic clinic in Bahawalpur. We provide all sorts of plastic and cosmetic surgery expertise by experienced plastic surgeon at an afforable price. We have a team of trained and experienced professionals under the supervision of Dr. Imran Adeel. Our aim is to make you as beautiful and young as you want.
                  </p>
                </div>
                <!-- <div class="milestones">
                  <div class="row milestones_row">
                    <div class="col-md-4 milestone_col">
                      <div class="milestone">
                        <div class="milestone_counter" data-end-value="500" data-sign-before="+">0</div>
                        <div class="milestone_text">Satisfied Patients</div>
                      </div>
                    </div>

                    <div class="col-md-4 milestone_col">
                      <div class="milestone">
                        <div class="milestone_counter" data-end-value="100" data-sign-before="+">0</div>
                        <div class="milestone_text">Hair Transplants</div>
                      </div>
                    </div>

                    <div class="col-md-4 milestone_col">
                      <div class="milestone">
                        <div class="milestone_counter" data-end-value="200" data-sign-before="+">0</div>
                        <div class="milestone_text">Injectibles</div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>

            <!-- Intro Form -->
            <div class="col-lg-6 intro_col">
              <div class="intro_form_container">
                <div class="intro_form_title">Make an Appointment</div>
                <form method="POST" class="intro_form" id="intro_form">
                  <div class="d-flex flex-row align-items-start justify-content-between flex-wrap">
                    
                      {{appointment_form}}
                      {% csrf_token %}
      

                  </div>
                  <button id="myBtn" class="button button_1 intro_button trans_200">make an appointment</button>

                  {% if a_html %}
							  {{a_html|safe}}
              {% endif %}
              
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Why Choose Us -->

      <div class="why">
        <!-- <div class="background_image" style="background-image:url(images/why.jpg)"></div> -->
        <div class="container">
          <div class="row row-eq-height">
            <!-- Why Choose Us Image -->
            <div class="col-lg-6 order-lg-1 order-2">
              <div class="why_image_container">
                <div class="why_image"><img src={% static "images/why_1.jpg" %} alt="" /></div>
              </div>
            </div>

            <!-- Why Choose Us Content -->
            <div id="whyus" class="col-lg-6 order-lg-2 order-1">
              <div class="why_content">
                <div class="section_title_container">
                  <div class="section_subtitle">This is Dr Imran Adeel</div>
                  <div class="section_title"><h2>Why choose us?</h2></div>
                </div>
                <div class="why_text">
                  <p>
                    With plenty of experience in this domain, I've served as a Senior Registrar in Bahawal Victoria
                    Hospital (BVH) and now working as a Associate Professor in Multan Medical and Dental College (MMDC).
                    With great positive feedback from the patients, I'm one of the very few Consultant Plastic Surgeon
                    in Bahawalpur.
                  </p>
                </div>
                <div class="why_list">
                  <ul>
                    <!-- Why List Item -->
                    <li class="d-flex flex-row align-items-center justify-content-start">
                      <div class="icon_container d-flex flex-column align-items-center justify-content-center">
                        <div class="icon">
                          <img src={% static "images/icon_1.svg" %} alt="https://www.flaticon.com/authors/prosymbols" />
                        </div>
                      </div>
                      <div class="why_list_content">
                        <div class="why_list_title">Professional Care</div>
                        <div class="why_list_text">
                          We believe in serving our patients with the best of our professional abilities.
                        </div>
                      </div>
                    </li>

                    <!-- Why List Item -->
                    <li class="d-flex flex-row align-items-center justify-content-start">
                      <div class="icon_container d-flex flex-column align-items-center justify-content-center">
                        <div class="icon">
                          <img src={% static "images/icon_2.svg" %} alt="https://www.flaticon.com/authors/prosymbols" />
                        </div>
                      </div>
                      <div class="why_list_content">
                        <div class="why_list_title">Top Advice</div>
                        <div class="why_list_text">
                          We provide you the best advice by providing you pros and cons of each option.
                        </div>
                      </div>
                    </li>

                    <!-- Why List Item -->
                    <li class="d-flex flex-row align-items-center justify-content-start">
                      <div class="icon_container d-flex flex-column align-items-center justify-content-center">
                        <div class="icon">
                          <img src={% static "images/icon_3.svg" %} alt="https://www.flaticon.com/authors/prosymbols" />
                        </div>
                      </div>
                      <div class="why_list_content">
                        <div class="why_list_title">Great Feedback</div>
                        <div class="why_list_text">
                          Our patients have the best results who recommend us to their loved ones.
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Call to action -->

      <div class="cta">
        <div class="container">
          <div class="row">
            <div class="col">
              <div
                class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start"
              >
                <div class="cta_content">
                  <div class="cta_title">Make your appointment today!</div>
                  <div class="cta_text">Call us for free professional support for your guidance</div>
                </div>
                <div class="cta_phone ml-lg-auto">+92 333 636 6429</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Extra -->

      <div class="extra">
        <div
          class="parallax_background parallax-window"
          data-parallax="scroll"
          data-image-src={% static "images/extra.jpg" %}
          data-speed="0.8"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="extra_container d-flex flex-row align-items-start justify-content-end">
                <div class="extra_content">
                  <div class="extra_disc d-flex flex-row align-items-end justify-content-start">
                    <div>70<span>%</span></div>
                    <div>of People</div>
                  </div>
                  <div class="extra_title">Around the Globe</div>
                  <div class="extra_text">
                    <p>
                      In a recent study, it is found that over 70 % of people want to get Cosmetic Enhancement
                      Procedures
                    </p>
                  </div>
                  <div class="button button_1 extra_link trans_200"><a href="{% url "doctor_app:blog" %}">read our blog</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      {% endblock %}