<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167582886-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167582886-1');
</script>
    <title>Dr Imran Adeel - Home</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Dr. Imran Adeel - Plastic Surgeon Bahawalpur" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href={% static "images/icon.ico" %} />
    <link rel="stylesheet" type="text/css" href= {% static "css/bootstrap-4.1.2/bootstrap.min.css" %}> 
    <link rel="stylesheet" type="text/css" href= {% static "plugins/font-awesome-4.7.0/css/font-awesome.min.css" %}> 
    <link rel="stylesheet" type="text/css" href= {% static "plugins/OwlCarousel2-2.2.1/owl.carousel.css" %}> 
    <link rel="stylesheet" type="text/css" href= {% static "plugins/OwlCarousel2-2.2.1/owl.theme.default.css" %}> 
    <link rel="stylesheet" type="text/css" href= {% static "plugins/OwlCarousel2-2.2.1/animate.css" %}> 
    <link rel="stylesheet" type="text/css" href= {% static "plugins/jquery-datepicker/jquery-ui.css" %}> 
    <link rel="stylesheet" type="text/css" href= {% static "css/main_styles.css" %}> 
    <link rel="stylesheet" type="text/css" href= {% static "css/responsive.css" %}>

    <!-- <link rel="stylesheet" type="text/css" href={% static "css/about.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/about_responsive.css" %}> -->

    <!-- <link rel="stylesheet" type="text/css" href={% static "plugins/image-comparison-slider-master/style.css" %}> -->
    <!-- <link rel="stylesheet" type="text/css" href={% static "css/services.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/services_responsive.css" %}> -->

    <link rel="stylesheet" type="text/css" href={% static "css/elements.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/elements_responsive.css" %}>

    <link rel="stylesheet" type="text/css" href={% static "css/contact.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/contact_responsive.css" %}>

    <!-- <link rel="stylesheet" type="text/css" href={% static "css/blog.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/blog_responsive.css" %}> -->

    <link rel="stylesheet" type="text/css" href={% static "css/modal.css" %} />
    <style media="screen">
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <div class="super_container">
      <!-- Header -->

      <header class="header trans_400">
        <div class="header_content d-flex flex-row align-items-center jusity-content-start trans_400">
          <!-- Logo -->
          <div class="logo">
            <a href="{% url "doctor_app:index" %}">
              <div>Dr<span>Imran Adeel</span></div>
              <div>Plastic Surgeon</div>
            </a>
          </div>

          <!-- Main Navigation -->
          <nav class="main_nav">
            <ul class="d-flex flex-row align-items-center justify-content-start">
              <li class="{% if home %}active{% endif %}"><a href="{% url "doctor_app:index" %}">Home</a></li>
              <li class="{% if about %}active{% endif %}"><a href="{% url "doctor_app:about" %}">About</a></li>
              <li class="{% if services %}active{% endif %}"><a href="{% url "doctor_app:services" %}">Services</a></li>
              <li class="{% if blog %}active{% endif %}"><a href="{% url "doctor_app:blog" %}">Blog</a></li>
              <li class="{% if contact %}active{% endif %}"><a href="{% url "doctor_app:contact" %}">Contact</a></li>
            </ul>
          </nav>
          <div class="header_extra d-flex flex-row align-items-center justify-content-end ml-auto">
            <!-- Work Hourse -->
            <div class="work_hours">Mo - Sun: 8:00am - 9:00pm</div>

            <!-- Header Phone -->
            <div class="header_phone">+92 333 636 6429</div>

            <!-- Appointment Button -->
            <div class="button button_1 header_button"><a href="#appoint">Make an Appointment</a></div>

            <!-- Header Social -->
            <div class="social header_social">
              <ul class="d-flex flex-row align-items-center justify-content-start">
                <li>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/imran.adeel.plasticsurgeon.2017/"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>

            <!-- Hamburger -->
            <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
          </div>
        </div>
      </header>

      <!-- Menu -->

      <div class="menu_overlay trans_400"></div>
      <div class="menu trans_400">
        <div class="menu_close_container">
          <div class="menu_close">
            <div></div>
            <div></div>
          </div>
        </div>
        <nav class="menu_nav">
          <ul>
            <li><a href="{% url "doctor_app:index" %}">Home</a></li>
            <li><a href="{% url "doctor_app:about" %}">About</a></li>
            <li><a href="{% url "doctor_app:services" %}">Services</a></li>
            <li><a href="{% url "doctor_app:blog" %}">Blog</a></li>
            <li><a href="{% url "doctor_app:contact" %}">Contact</a></li>
          </ul>
        </nav>
        <div class="menu_extra">
          <div class="menu_link">Mo - Sun: 8:00am - 9:00pm</div>
          <div class="menu_link">+92 333 636 6429</div>
          <div class="menu_link"><a href="#appoint">Make an appointment</a></div>
        </div>
        <div class="social menu_social">
          <ul class="d-flex flex-row align-items-center justify-content-start">
            <li>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/imran.adeel.plasticsurgeon.2017/"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Home -->

      <div class="home">
        <!-- Home Slider -->
        <div class="home_slider_container">
          <div class="owl-carousel owl-theme home_slider">
            <!-- Slide -->
            <div class="owl-item">
              <div class="background_image" style="background-image: url({% static "images/home_slider.jpg" %});"></div>
              <div class="home_container">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="home_content">
                        <div class="home_subtitle">#1 Plastic Surgery Clinic</div>
                        <div class="home_title">The Cozmetiques</div>
                        <div class="home_text">
                          <p>
                            The Cozmetiques is a leading plastic surgery clinic in Bahawalpur, operated by Dr Imran Adeel, one of the most experienced and qualified plastic surgeon in the city.
                          </p>
                        </div>
                        <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
                          <div class="button button_1 trans_200"><a href="#whyus">read more</a></div>
                          <div class="button button_2 trans_200"><a href="#appoint">make an appointment</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Slide -->
            <div class="owl-item">
              <div class="background_image" style="background-image: url({% static "images/rhinop.jpg" %});"></div>
              <div class="home_container">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="home_content">
                        <div class="home_subtitle">Nose Bump Solution</div>
                        <div class="home_title">Rhinoplasty</div>
                        <div class="home_text">
                          <p>
                            Rhinoplasty, commonly known as a nose job, is a plastic surgery procedure for correcting and
                            reconstructing the nose. There are two types of plastic surgery used – reconstructive
                            surgery that restores the form and functions of the nose and cosmetic surgery that improves
                            the appearance of the nose.
                          </p>
                        </div>
                        <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
                          <div class="button button_1 trans_200"><a href="{% url "doctor_app:services" %}">read more</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Slide -->
            <div class="owl-item">
              <div class="background_image" style="background-image: url({% static "images/hairtrn.jpg" %});"></div>
              <div class="home_container">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="home_content">
                        <div class="home_subtitle">Stop Balding</div>
                        <div class="home_title">Regrow Hair</div>
                        <div class="home_text">
                          <p>
                            Hair transplantation is a surgical technique that removes hair follicles from one part of
                            the body, called the 'donor site', to a bald or balding part of the body known as the
                            'recipient site'. The technique is primarily used to treat male pattern baldness.
                          </p>
                        </div>
                        <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
                          <div class="button button_1 trans_200"><a href="{% url "doctor_app:services" %}">read more</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Home Slider Dots -->

          <div class="home_slider_dots">
            <ul
              id="home_slider_custom_dots"
              class="home_slider_custom_dots d-flex flex-row align-items-center justify-content-start"
            >
              <li class="home_slider_custom_dot trans_200 active"></li>
              <li class="home_slider_custom_dot trans_200"></li>
              <li class="home_slider_custom_dot trans_200"></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Intro -->

      <div id="appoint" class="intro">
        <div class="container">
          <div class="row">
            <!-- Intro Content -->
            <div class="col-lg-6 intro_col">
              <div class="intro_content">
                <div class="section_title_container">
                  <div class="section_subtitle">Welcome to</div>
                  <div class="section_title"><h2>The Cozmetiques</h2></div>
                </div>
                <div style="text-align: justify">
                  <p>
                    We are one of the leading aesthetic clinic in Bahawalpur. We provide all sorts of plastic and cosmetic surgery expertise by experienced plastic surgeon at an afforable price. We have a team of trained and experienced professionals under the supervision of Dr. Imran Adeel. Our aim is to make you as beautiful and young as you want.
                  </p>
                </div>
                <!-- <div class="milestones">
                  <div class="row milestones_row">
                    <div class="col-md-4 milestone_col">
                      <div class="milestone">
                        <div class="milestone_counter" data-end-value="500" data-sign-before="+">0</div>
                        <div class="milestone_text">Satisfied Patients</div>
                      </div>
                    </div>

                    <div class="col-md-4 milestone_col">
                      <div class="milestone">
                        <div class="milestone_counter" data-end-value="100" data-sign-before="+">0</div>
                        <div class="milestone_text">Hair Transplants</div>
                      </div>
                    </div>

                    <div class="col-md-4 milestone_col">
                      <div class="milestone">
                        <div class="milestone_counter" data-end-value="200" data-sign-before="+">0</div>
                        <div class="milestone_text">Injectibles</div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>

            <!-- Intro Form -->
            <div class="col-lg-6 intro_col">
              <div class="intro_form_container">
                <div class="intro_form_title">Make an Appointment</div>
                <form method="POST" class="intro_form" id="intro_form">
                  <div class="d-flex flex-row align-items-start justify-content-between flex-wrap">
                    
                      {{appointment_form}}
                      {% csrf_token %}
      

                  </div>
                  <button id="myBtn" class="button button_1 intro_button trans_200">make an appointment</button>

                  {% if a_html %}
							  {{a_html|safe}}
              {% endif %}
              
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Why Choose Us -->

      <div class="why">
        <!-- <div class="background_image" style="background-image:url(images/why.jpg)"></div> -->
        <div class="container">
          <div class="row row-eq-height">
            <!-- Why Choose Us Image -->
            <div class="col-lg-6 order-lg-1 order-2">
              <div class="why_image_container">
                <div class="why_image"><img src={% static "images/why_1.jpg" %} alt="" /></div>
              </div>
            </div>

            <!-- Why Choose Us Content -->
            <div id="whyus" class="col-lg-6 order-lg-2 order-1">
              <div class="why_content">
                <div class="section_title_container">
                  <div class="section_subtitle">This is Dr Imran Adeel</div>
                  <div class="section_title"><h2>Why choose us?</h2></div>
                </div>
                <div class="why_text">
                  <p>
                    With plenty of experience in this domain, I'm currently working as an Assistant Professor in Quaid e Azam Medical College Bahawalpur.
                    With great positive feedback from the patients, I'm one of the very few Consultant Plastic Surgeon
                    in Bahawalpur.
                  </p>
                </div>
                <div class="why_list">
                  <ul>
                    <!-- Why List Item -->
                    <li class="d-flex flex-row align-items-center justify-content-start">
                      <div class="icon_container d-flex flex-column align-items-center justify-content-center">
                        <div class="icon">
                          <img src={% static "images/icon_1.svg" %} alt="https://www.flaticon.com/authors/prosymbols" />
                        </div>
                      </div>
                      <div class="why_list_content">
                        <div class="why_list_title">Professional Care</div>
                        <div class="why_list_text">
                          We believe in serving our patients with the best of our professional abilities.
                        </div>
                      </div>
                    </li>

                    <!-- Why List Item -->
                    <li class="d-flex flex-row align-items-center justify-content-start">
                      <div class="icon_container d-flex flex-column align-items-center justify-content-center">
                        <div class="icon">
                          <img src={% static "images/icon_2.svg" %} alt="https://www.flaticon.com/authors/prosymbols" />
                        </div>
                      </div>
                      <div class="why_list_content">
                        <div class="why_list_title">Top Advice</div>
                        <div class="why_list_text">
                          We provide you the best advice by providing you pros and cons of each option.
                        </div>
                      </div>
                    </li>

                    <!-- Why List Item -->
                    <li class="d-flex flex-row align-items-center justify-content-start">
                      <div class="icon_container d-flex flex-column align-items-center justify-content-center">
                        <div class="icon">
                          <img src={% static "images/icon_3.svg" %} alt="https://www.flaticon.com/authors/prosymbols" />
                        </div>
                      </div>
                      <div class="why_list_content">
                        <div class="why_list_title">Great Feedback</div>
                        <div class="why_list_text">
                          Our patients have the best results who recommend us to their loved ones.
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Call to action -->

      <div class="cta">
        <div class="container">
          <div class="row">
            <div class="col">
              <div
                class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start"
              >
                <div class="cta_content">
                  <div class="cta_title">Make your appointment today!</div>
                  <div class="cta_text">Call us for free professional support for your guidance</div>
                </div>
                <div class="cta_phone ml-lg-auto">+92 333 636 6429</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Extra -->

      <div class="extra">
        <div
          class="parallax_background parallax-window"
          data-parallax="scroll"
          data-image-src={% static "images/extra.jpg" %}
          data-speed="0.8"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="extra_container d-flex flex-row align-items-start justify-content-end">
                <div class="extra_content">
                  <div class="extra_disc d-flex flex-row align-items-end justify-content-start">
                    <div>70<span>%</span></div>
                    <div>of People</div>
                  </div>
                  <div class="extra_title">Around the Globe</div>
                  <div class="extra_text">
                    <p>
                      In a recent study, it is found that over 70 % of people want to get Cosmetic Enhancement
                      Procedures
                    </p>
                  </div>
                  <div class="button button_1 extra_link trans_200"><a href="{% url "doctor_app:blog" %}">read our blog</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 


      <!-- Newsletter -->

      <div class="newsletter">
        <div
          class="parallax_background parallax-window"
          data-parallax="scroll"
          data-image-src={% static "images/newsletter.jpg" %}
          data-speed="0.8"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <div class="newsletter_title">Subscribe to our newsletter</div>
            </div>
          </div>
          <div class="row newsletter_row">
            <div class="col-lg-8 offset-lg-2">
              <div class="newsletter_form_container">
                <form method="POST" id="newsleter_form" class="newsletter_form">
                  {{subscriber_form}}
                  {% csrf_token %}
                  <button type="submit" id="myBtn1" class="newsletter_button">subscribe</button>

                  {% if s_html %}
							  {{s_html|safe}}
              {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->

      <footer class="footer">
        <div class="footer_content">
          <div class="container">
            <div class="row">
              <!-- Footer About -->
              <div class="col-lg-3 footer_col">
                <div class="footer_about">
                  <div class="footer_logo">
                    <a href="{% url "doctor_app:index" %}">
                      <div>Dr<span>Imran Adeel</span></div>
                      <div>MBBS, FCPS(Plastic Surgery)</div>
                    </a>
                  </div>
                  <div class="footer_about_text">
                    <p>
                      He is one of the eminent plastic surgeon in Pakistan. He is based in Bahawalpur and Multan. He is currently working as a Assistant Professor (Plastic Surgery) at Quaid e Azam Medical College Bahawalpur. He has a professional team to help you in all your
                      plastic surgery needs.
                    </p>
                  </div>
                </div>
              </div>

              <!-- Footer Contact Info -->
              <div class="col-lg-3 footer_col">
                <div class="footer_contact">
                  <div class="footer_title">Contact Info</div>
                  <ul class="contact_list">
                    <li>+92 333 636 6429</li>
                    <li>imran_adeel17@yahoo.com</li>
                  </ul>
                </div>
              </div>

              <!-- Footer Locations -->
              <div class="col-lg-3 footer_col">
                <div class="footer_location">
                  <div class="footer_title">Our Locations</div>
                  <ul class="locations_list">
                    <li>
                      <div class="location_title">Bahawalpur</div>
                      <div class="location_text">The Cozmetiques - Surgicare Hospital, Welcome Chowk</div>
                    </li>
                    <li>
                      <div class="location_title">Multan</div>
                      <div class="location_text">Fatima Medical Centre</div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Footer Opening Hours -->
              <div class="col-lg-3 footer_col">
                <div class="opening_hours">
                  <div class="footer_title">Opening Hours</div>
                  <ul class="opening_hours_list">
                    <li class="d-flex flex-row align-items-start justify-content-start">
                      <div>Monday:</div>
                      <div class="ml-auto">7:00pm - 9:00pm</div>
                    </li>
                    <li class="d-flex flex-row align-items-start justify-content-start">
                      <div>Thuesday:</div>
                      <div class="ml-auto">7:00pm - 9:00pm</div>
                    </li>
                    <li class="d-flex flex-row align-items-start justify-content-start">
                      <div>Wednesday:</div>
                      <div class="ml-auto">7:00pm - 9:00pm</div>
                    </li>
                    <li class="d-flex flex-row align-items-start justify-content-start">
                      <div>Thursday:</div>
                      <div class="ml-auto">7:00pm - 9:00pm</div>
                    </li>
                    <li class="d-flex flex-row align-items-start justify-content-start">
                      <div>Friday:</div>
                      <div class="ml-auto">7:00pm - 9:00pm</div>
                    </li>
                    <li class="d-flex flex-row align-items-start justify-content-start">
                      <div>Saturday:</div>
                      <div class="ml-auto">7:00pm - 9:00pm</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bar">
          <div class="container">
            <div class="row">
              <div class="col">
                <div
                  class="footer_bar_content d-flex flex-md-row flex-column align-items-md-center justify-content-start"
                >
                  <div class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | <a href="/admin">Dr Imran Adeel</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </div>
                  <nav class="footer_nav ml-md-auto">
                    <ul class="d-flex flex-row align-items-center justify-content-start">
                      <li><a href="{% url "doctor_app:index" %}">Home</a></li>
                      <li><a href="{% url "doctor_app:about" %}">About</a></li>
                      <li><a href="{% url "doctor_app:services" %}">Services</a></li>
                      <li><a href="{% url "doctor_app:blog" %}">Blog</a></li>
                      <li><a href="{% url "doctor_app:contact" %}">Contact</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>


    <script src={% static "js/jquery-3.2.1.min.js" %}></script>
    <script src={% static "css/bootstrap-4.1.2/popper.js" %}></script>
    <script src={% static "css/bootstrap-4.1.2/bootstrap.min.js" %}></script>
    <script src={% static "plugins/greensock/TweenMax.min.js" %}></script>
    <script src={% static "plugins/greensock/TimelineMax.min.js" %}></script>
    <script src={% static "plugins/scrollmagic/ScrollMagic.min.js" %}></script>
    <script src={% static "plugins/greensock/animation.gsap.min.js" %}></script>
    <script src={% static "plugins/greensock/ScrollToPlugin.min.js" %}></script>
    <script src={% static "plugins/OwlCarousel2-2.2.1/owl.carousel.js" %}></script>
    <script src={% static "plugins/easing/easing.js" %}></script>
    <script src={% static "plugins/parallax-js-master/parallax.min.js" %}></script>
    <script src={% static "plugins/jquery-datepicker/jquery-ui.js" %}></script>
    <script src={% static "js/custom.js" %}></script>
    <!-- <script src={% static "js/about.js" %}></script>
    <script src={% static "plugins/image-comparison-slider-master/main.js" %}></script>
    <script src={% static "js/services.js" %}></script>
    <script src={% static "plugins/progressbar/progressbar.min.js" %}></script>
    <script src={% static "js/elements.js" %}></script>
    <script src={% static "js/contact.js" %}></script>
    <script src={% static "js/blog.js" %}></script> -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script> -->

    <script>
      
      var a_modal = document.getElementById('appoint_modal');
      var s_modal = document.getElementById('subscribe_modal');

      var a_close = document.getElementById('appoint_close');
      var s_close = document.getElementById('subscribe_close');

      var close = document.getElementsByClassName('close')[0];

      close.onclick = function () {
        s_modal.style.display = 'none';
      };

      a_close.onclick = function () {
        a_modal.style.display = 'none';
      };

      s_close.onclick = function () {
        s_modal.style.display = 'none';
      };

      window.onclick = function (event) {
        if (event.target == a_modal) {
          a_modal.style.display = 'none';
        }
        if (event.target == s_modal) {
          s_modal.style.display = 'none';
        }
      };
      
    </script>

    <script type="text/javascript">
      (function () {
        var dg_scr = document.createElement('script');
        dg_scr.type = 'text/javascript';
        dg_scr.async = true;
        dg_scr.src =
          ('https:' == document.location.protocol ? 'https://' : 'http://') + 'track.freecallinc.com/freecall.js';
        dg_scr.onload = function () {
          try {
            deskGod.track(73532, 70925);
          } catch (err) {}
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(dg_scr, s);
      })();
    </script>
  </body>
</html>
