<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block page_content %}
	<!-- Home -->

	<div class="home d-flex flex-column align-items-start justify-content-end">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src={% static "images/extra1.jpg" %} data-speed="0.8"></div>
		<div class="home_overlay"><img src={% static "images/home_overlay.png" %} alt=""></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Services</div>
							<div class="home_text">Plastic surgery is a surgical specialty involving the restoration, reconstruction, or alteration of the human body. It can be divided into two categories. The first is reconstructive surgery which includes craniofacial surgery, hand surgery, microsurgery, and the treatment of burns.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Services -->

	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title_container">
						<div class="section_title"><h2>Our Services</h2></div>
					</div>
				</div>
			</div>
	</div>

	<!-- Prices -->

	<div class="prices">
		<div class="container">
			<div class="row">

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Abdominoplasty</div>
						<div class="price_text">
							<p>Faltten your bulky protuberant abdomen with abdominoplasty or tummy tuck.</p>
						</div>
					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Acne Scars Treatment</div>
						<div class="price_text">
							<p>Using PRP Therapy, Nanofat Grafting, Derma rollers and derma pen.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Blepharoplasty</div>
						<div class="price_text">
							<p>Improve the facial beauty by correcting sagging and drooping eyes.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Botox Injections</div>
						<div class="price_text">
							<p>Non surgical way of getting rid of facial wrinkles.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Breast Augmentation</div>
						<div class="price_text">
							<p>Enhance your feminine beauty with boob job.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Breast Reduction Surgery</div>
						<div class="price_text">
							<p>Reduction of excessively/ abnormally enlarged breasts.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Burn Wound Management</div>
						<div class="price_text">
							<p>Get the specialized care for acute and chronic burn wounds with qualified doctor.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Cleft Lip & Palate Surgery</div>
						<div class="price_text">
							<p>These are birth related problems with cut ir slit in the upper lip or palate.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Cosmetic & Reconstructive Surgery</div>
						<div class="price_text">
							<p>We at "The Cozmetiques" offer all surgical & non surgical cosmetic surgery procedures.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Facelift</div>
						<div class="price_text">
							<p>Get your youthful appearance with surgical and non surgical facelift.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Facial Fillers</div>
						<div class="price_text">
							<p>Non surgical way of removing static wrinkles and volume loss.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Facial Rejuvenation</div>
						<div class="price_text">
							<p>Regain your youthful look with surgical and non surgical facial rejuvenation.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Gynecomastia</div>
						<div class="price_text">
							<p>Gynecomastia is the abnormal enlargement of male breasts.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Hair Transplant</div>
						<div class="price_text">
							<p>Latest FUE method with no scar.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Lip Augmentation</div>
						<div class="price_text">
							<p>Enhance the facial beauty of your lips by making them more prominent.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Lip Reduction Surgery</div>
						<div class="price_text">
							<p>Improve the lip appearance with lip reduction surgery for excessively large lips.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Liposuction</div>
						<div class="price_text">
							<p>Liposuction is the removal of excessive abnormal and difficult body fat.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">PRP Therapy</div>
						<div class="price_text">
							<p>Effective treatment for hairfall, skin pigmentations, facial wrinkles and scars.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Rhinoplasty</div>
						<div class="price_text">
							<p>Enhance your facial beauty through nose job or rhinoplasty.</p>
						</div>

					</div>
				</div>

				<!-- Price -->
				<div class="col-lg-6 price_col">
					<div class="price">
						<div class="price_title">Skin Whitening Injections</div>
						<div class="price_text">
							<p>Get rid of the dark shadows from your life with latest skin whitening injections.</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_title_container">
					<div class="section_title"><h2>FAQs</h2></div>
				</div>
			</div>
		</div>
	</div>



	<div class="prices">
		<div class="container">
			<div class="row">

				<!-- Price -->
				<div class="col-lg-2 price_col"></div>
				<div class="col-lg-8 price_col">
							<!-- Accordions -->
							<div class="col-lg-12">
								<div class="accordions">
									<!-- Accordion -->
									<div class="accordion_container">
										<div class="accordion d-flex flex-row align-items-center"><div>What is the difference between cosmetic and reconstructive surgery?</div></div>
										<div class="accordion_panel">
											<div>
												<p>Cosmetic surgery is performed to reshape normal structures of the body in order to improve appearance and self-esteem. Cosmetic surgery is usually not covered by health insurance because it is elective.

Reconstructive surgery is performed on abnormal structures of the body caused by congenital defects, developmental abnormalities, trauma, infection, tumors or disease. In general, reconstructive surgery is performed to improve function, but may also be completed to approximate a normal appearance.

Reconstructive surgery is typically covered by most health insurance policies, although coverage for specific procedures and levels of coverage may vary greatly.</p>
											</div>
										</div>
									</div>
									<!-- Accordion -->
									<div class="accordion_container">
										<div class="accordion d-flex flex-row align-items-center"><div>What is the recovery from cosmetic surgery like?</div></div>
										<div class="accordion_panel">
											<div>
												<p>Each patient tolerates pain after surgery in different ways. Your surgeon will prescribe the appropriate pain medications to help minimize any discomfort. In general, most facial cosmetic operations have minimal discomfort post-operatively. Liposuction is slightly more uncomfortable, and operations that require elevation or tightening of the muscles-such as an abdominoplasty or breast augmentation can cause discomfort equal to a C-section.</p>
											</div>
										</div>
									</div>
									<!-- Accordion -->
									<div class="accordion_container">
										<div class="accordion d-flex flex-row align-items-center"><div>Does a person's voice change after rhinoplasty (nose surgery)?</div></div>
										<div class="accordion_panel">
											<div>
												<p>A few patients notice small change in their voice after rhinoplasty but this is uncommon. Professionals who rely on their voice, such as singers, should share any concerns with their surgeon, however, because the nose does play a role in how we sound.</p>
											</div>
										</div>
									</div>
									<!-- Accordion -->
									<div class="accordion_container">
										<div class="accordion d-flex flex-row align-items-center"><div>Is there anything to do to minimize swelling or bruising?</div></div>
										<div class="accordion_panel">
											<div>
												<p>Yes. Depending upon what the procedure, it might make sense to sleep in a reclining (not horizontal) position for one week following surgery to minimize the collection of fluids in the face and eyelids.

Follow the instructions you will be given about making and administering your cold and warm compresses. These will not only reduce bruising and swelling, but they will also maximize and promote healing.</p>
											</div>
										</div>
									</div>
									<!-- Accordion -->
									<div class="accordion_container">
										<div class="accordion d-flex flex-row align-items-center"><div>Is plastic surgery safe?</div></div>
										<div class="accordion_panel">
											<div>
												<p>As with all surgical procedures, there is some level of risk. To reduce your chances of complications, We employ some of the region’s top plastic surgery techniques. In addition, it is important that you follow all of your doctor’s pre- and post-operative instructions carefully, and thoroughly discuss any and all medical conditions with your doctor prior to your procedure. This way, you’ll be sure you and your plastic surgeon are prepared and that your body is appropriately cared for before, during and after surgery.</p>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 price_col"></div>
			</div>
</div>
</div>

	<!-- Before and After -->

	<div class="before_and_after">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_title"><h2>Before & After Gallery</h2></div>
					</div>
				</div>
			</div>
			<div class="row before_and_after_row">
				<div class="col">
					<div class="ba_container">
						<figure class="cd-image-container">
							<img src={% static "images/pre.jpg" %} alt="Original Image">
							<span class="cd-image-label" data-type="original"></span>

							<div class="cd-resize-img">
								<img src={% static "images/client1.jpg" %} alt="Modified Image">
								<span class="cd-image-label" data-type="modified"></span>
							</div>

							<span class="cd-handle"></span>
						</figure>
					</div>
					<div class="ba_button_container text-center">
						<div class="button button_1 ba_button"><a href="">see gallery</a></div>

					</div>

				</div>
			</div>
		</div>
	</div>

	{% endblock %}